#parse('header.vm')
<body>
<i class="iconfont pme-success">&#xe602;</i>

<p class="pme-wrapper tc pme-success-msg" style="color:#454648;margin-bottom: 0px;">
	#if($!{payTool} == "YSQ")
		预授权成功
	#elseif($!{payTool} == "DBFQ")
		<!--担保分期-->
		您已成功支付￥${realAmount}
	#else
		恭喜，您已经付款成功！
	#end
</p>
#if($!{payTool} == "YHKFQ_ZF")   <!--//银行卡分期-->
	<div class="tc fs14 c22ac38 mt10">订单金额￥${amount}/${period}期</div>
	<div class="tc fs14 c22ac38">首期应还￥<i class="normal mr10" id="firstStage"></i>后续每期应还￥<i class="everyStage normal" id="everyStage"></i></div>
	<div class="tc fs12 mt10" style="color:#76ce5f;">实际扣款金额以银行账单为准</div>
#elseif($!{payTool} == "YSQ") <!--//预授权成功-->
	<div class="tc fs14 c22ac38 mt30">预授权冻结银行卡额度￥${amount}</div>
#elseif($!{payTool} == "DBFQ")
	<div class="fs14 pt20 pb20 mt20" style="padding-left:120px;background: #eee;color:#888;">
		<div class="">订单金额:￥$!{amount}</div>
		<div class="mt10">分期期数:$!{period}期</div>
		<div class="mt10">每期应还:￥$!{amountPerPeriod}</div>
		<div class="mt10">实际扣款金额以银行账单为准</div>
	</div>
#else
	#if(${actualAmount})
    <p class="pme-wrapper tc pme-success-amount" style="color:#ed5a27;margin-top: 3px;">￥${actualAmount}</p>
    <p class="original-order-amount" style="color: #999999; text-decoration: line-through">￥$!{amount}</p>
	#else
	<p class="pme-wrapper tc pme-success-amount" style="color:#454648;margin-top: 3px;">￥${amount}</p>
#end
#end
<div style="text-align: center;" id="qCodeBox" class="mt30"><!--//二维码-->
	<img id="qCode" src="" alt="" width="82" height="82">
	<i class="code-text">识别左方二维码,可查询订单信息</i>
</div>
<div class="mt30 none" id="orderIdBox">
	#if($!{orderId})
	<p style="font-size:14px;text-align: center;" >商户订单号为：$!{orderId}</p>
	<p style="font-size:12px;text-align: center;" >(请妥善保管)</p>
	#end
</div>
#if(${merchantUrl}!="")
<div class="pme-wrapper"><a href="${merchantUrl}" class="pme-btn mt10">完成</a></div>
<p style="text-align: center; color: #9f9f9f" class="none" id="autoReturn"><span id="second">15</span>s后自动返回商户</p>
#end
#if(${showAdvtisement})
<a href="http://www.yeepay.com/releasedPage/592fcae0e525c8d42e4933bf" target="_blank" style="margin: 10px; display: block;"><img src="${ctx.contextPath}/static/images/gdyd.jpeg" width="100%"></a>
#end
<!--嘉年华活动-->
#if(${showCarnival}==true && "$!{payTool}" != "YSQ")
<div style="margin:10px"><a href="${carnivalUrl}"> <img src="${ctx.contextPath}/static/images/cashier.png" style="max-width: 100%"></a>
</div>
#end
<!--嘉年华活动结束-->
<!--世界杯赌球活动-->
	#if(${showSuccessActivate}==true && "$!{payTool}" != "YSQ")
    <div style="margin:10px"><a href="${successActUrl}"> <img src="${ctx.contextPath}/static/images/photo4.jpg"
                                                              style="max-width: 100%"></a>
    </div>
	#end
<!--世界杯赌球活动结束-->
<link rel="stylesheet" href="${ctx.contextPath}/npc/css/identity.css">
<section class="identity-box" style="display:none;">
	<section class="identity">
		<section class="select-identity">
			<div class="identity-head">
				<div class="identity-title">
					<h3>选择实名身份<span class="explain iconfont">&#xe63a;</span></h3>
					<a class="title-close iconfont">&#xe652;</a>
				</div>
				<div class="identity-explain">
					为保证资金安全，请选择身份信息完成实名认证。实名用户只能使用本人的卡，请谨慎选择。详情<a class="sv-phone" href="tel: 4001500800">咨询客服</a >。
				</div>
			</div>
			<ul class="identity-list"><div class="use-other">使用其他身份<span class="iconfont">&#xe615;</span></div></ul>
			<div class="none" id="identity-list">${cardOwnerConfirmResDTO}</div>
			<div class="none" id="token">${token}</div>
			<div class="btn-box">
				<a class="sure-btn">确定并返回商户</a>
			</div>
		</section>
		<section class="add-identity">
			<div class="identity-head">
				<div class="identity-title">
					<h3>添加身份</h3>
					<a class="title-back iconfont">&#xe600;</a>
					<a class="title-close iconfont">&#xe652;</a>
				</div>
			</div>
			<form class="identity-form">
				<div class="form-child">
					<label for="name">姓名：</label>
					<input class="input-text" id="name" type="text"
						   placeholder="请输入您的真实姓名"
						  >
				</div>
				<div class="form-child">
					<label for="idNumber">身份证号：</label>
					<input class="input-text" id="idNumber" type="tel" placeholder="请输入身份证号">
				</div>
				<div class="form-err">输入信息有误，请核对后从新输入</div>
			</form>
			<div class="btn-box">
				<a class="finish-btn">确定并返回商户</a>
			</div>
		</section>
	</section>
</section>
<script type="text/javascript">
	+function(){//页面显示
		if('$!{payTool}' == "YHKFQ_ZF"){
			jQuery.ajax({
				method: "get",
				url: '${ctx.contextPath}/bankinstallment/ajax/rateinfo?token=${token}&period=${period}&bankCode=${bankCode}',
				success: function (res) {
					var data = JSON.parse(res);
					if(data.bizStatus== 'success'){
						document.querySelector("#firstStage").innerHTML=data.firstPayment;
						document.querySelector("#everyStage").innerHTML=data.terminalPayment;
					}else{
						console.info('rateinfo接口：'+data.errormsg);
					}
				}
			})
		}
		jQuery.ajax({   //二维码
			method: "POST",
			url: "${ctx.contextPath}/newwap/yeepay/qrcode?token=${token}&orderId=$!{orderId}&merchantNo=$!{merchantNo}",
			async:true,
			success: function (data) {
				if(data == ''){
                    document.querySelector("#qCodeBox").classList.add("none");
                    document.querySelector("#orderIdBox").classList.remove("none");
                }else{
                    document.querySelector("#qCode").setAttribute("src",data)
                }
			}
		})
        var dom = document;
		var Pop = {
			show : function(){
				if(!dom.querySelector("#mask")){
					var div = dom.createElement("div");
					div.id = "mask";
					dom.querySelector("body").appendChild(div);
					dom.querySelector(".identity-box").style.display = "block";
				}
			},
			hide : function(){
				if(dom.querySelector("#mask")){
					var mask = dom.querySelector("#mask");
					dom.querySelector("body").removeChild(mask);
					dom.querySelector(".identity-box").style.display = "none";
				}
			}
		};
		var token = dom.querySelector("#token").textContent;
        	var text = dom.querySelector("#identity-list").textContent;
        	var data = JSON.parse(text);
        +function(){//页面交互元素交互效果监听
			var identity = dom.querySelector(".identity"),
				explain = dom.querySelector(".explain"),
				titleBack = dom.querySelector(".title-back"),
				identityExplain = dom.querySelector(".identity-explain"),
				useOther = dom.querySelector(".use-other"),
				sureBtn = dom.querySelector(".sure-btn"),
				finishBtn = dom.querySelector(".finish-btn"),
				closeBtn = dom.querySelectorAll(".title-close"),
				inputs = dom.querySelectorAll(".input-text");
			var Listener = {
				slideLeft : function(){
					identity.style.transform = "translateX(-50%)";
				},
				slideRight : function(){
					identity.style.transform = "translateX(0)";
				},
				toggle : function(){
					if(explain.classList.contains("show")){
						explain.classList.remove("show");
						identityExplain.style.display = "none";
					}else{
						explain.classList.add("show");
						identityExplain.style.display = "block";
					}
				},
				closeModule : function(){
					for(var i=0, l=closeBtn.length; i<l; i++){
						closeBtn[i].addEventListener("click" , Pop.hide , false)
					}
				},
				errHide : function(){
					for(var i=0, l=inputs.length; i<l; i++){
						inputs[i].addEventListener("focus" , function(){
							dom.querySelector(".form-err").style.display = "none";
						}, false)
					}
				},
				submitSelect : function(){//提交身份选择
					var bindId = dom.querySelector(".active").getAttribute("id");
					console.log(bindId);
					ajax({
						url : "${ctx.contextPath}/wap/ajax/setCardOwner",
						type : "POST",
						data : {bindId : bindId , token : token},
						dataType : "json",
						success : function(response){
							if(dom.querySelector(".pme-btn")){
								location.href = dom.querySelector(".pme-btn").href;
							}else{
								Pop.hide();
							}
						},
						fail : function(status){

						}
					})
				},
				submitIdentity : function(){//提交新添加身份
					var nameVal = dom.querySelector("#name").value;
					var idNumberVal = dom.querySelector("#idNumber").value;
					var nameReg = /[\u4E00-\u9FA5]{2,5}(?:·[\u4E00-\u9FA5]{2,5})*/;
					var idNumReg = /^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/;
					/*if(nameVal === "" || !nameReg.test(nameVal) || idNumberVal === "" || !idNumReg.test(idNumberVal)){
						dom.querySelector(".form-err").style.display = "block";
						return
					}*/
                    if(nameVal === ""){
                        dom.querySelector(".form-err").innerHTML="姓名不能为空";
                        dom.querySelector(".form-err").style.display = "block";
                        return
                    }else if(!nameReg.test(nameVal)){
                        dom.querySelector(".form-err").innerHTML="姓名格式不正确";
                        dom.querySelector(".form-err").style.display = "block";
                        return
                    }else if(idNumberVal === ""){
                        dom.querySelector(".form-err").innerHTML="身份证号不能为空";
                        dom.querySelector(".form-err").style.display = "block";
                        return
                    }else if(!idNumReg.test(idNumberVal)){
                        dom.querySelector(".form-err").innerHTML="身份证号格式不正确";
                        dom.querySelector(".form-err").style.display = "block";
                        return
                    }
					ajax({
						url : "${ctx.contextPath}/wap/ajax/setCardOwner",
						type : "POST",
						data : {name : BASE64.encoder(nameVal) , idCardNo : BASE64.encoder(idNumberVal) , token : token},
						dataType : "json",
						success : function(response){
							if(dom.querySelector(".pme-btn")){
								location.href = dom.querySelector(".pme-btn").href;
							}else{
								Pop.hide();
							}
						},
						fail : function(status){

						}
					})
				},
				init : function(){
					if(useOther){useOther.addEventListener("click" , this.slideLeft , false)}
					if(titleBack){titleBack.addEventListener("click" , this.slideRight , false)}
					if(explain){explain.addEventListener("click" , this.toggle , false)}
					if(closeBtn){this.closeModule()}
					if(inputs){this.errHide()}
					if(sureBtn){sureBtn.addEventListener("click" , this.submitSelect , false)}
					if(finishBtn){finishBtn.addEventListener("click" , this.submitIdentity , false)}
				}
			};
			Listener.init();
		}();
		if(data.needChooseCardOwner && (data.persons == null || data.persons.length == 0)){
			document.querySelector(".identity").style.transform="translateX(-50%)";
			Pop.show();
//				document.querySelector(".identity-title .title-back").classList.add("none");
			return;
		}
		showHtml(data);
		function showHtml(data){//根据请求返回数据显示相应html
			data = data || {};
			data.needChooseCardOwner = data.needChooseCardOwner || false;
			data.showTimes = data.showTimes || 1;
//			data.persons = data.persons || {};
			if(data.needChooseCardOwner === false || data.showTimes > 3){
			  #if(${merchantUrl}!="")
				document.querySelector("#autoReturn").classList.remove("none");
				var sec = 15;
				setTimeout(function(){
					if(sec<=1){
						location.replace("${merchantUrl}");
						return;
					}
					sec--;
					document.querySelector("#second").innerHTML=sec;
					setTimeout(arguments.callee,1000);
				},1000);
				#end
				return;}//已实名返回
			Pop.show()//未实名显示实名模块
			if(data.showTimes === 3){//次数大于3次
			   var fragment = document.createDocumentFragment();
				for(var i=0, l=data.persons.length; i<l; i++){
					var li = dom.createElement("li");
					li.id = data.persons[i].bindId;
					li.innerHTML = '<div class="li-t">'+
					data.persons[i].realName + ' / ' + data.persons[i].idCardNo +'<span class="check iconfont icon-duigouzhuanhuan"></span>'+
					'</div>'+
					'<div class="li-b">'+
					'<i class="horn iconfont">&#xe61b;</i>'+
					'<span>您的实名身份将为' + data.persons[i].realName + '。</span>以后只能使用' + data.persons[i].realName + '的卡。详情<a class="sv-phone" href="tel: 4001500800">咨询客服</a >。'+
					'</div>';
					fragment.appendChild(li);
				}
				dom.querySelector(".identity-list").insertBefore(fragment,dom.querySelector(".identity-list .use-other"));
				controlElement(dom.querySelectorAll(".explain"));
				controlElement(dom.querySelectorAll(".title-close"));
			}else if(data.showTimes < 3){
				if(data.persons.length > 0){//次数小于3次并且有实名信息
					var fragment = document.createDocumentFragment();
					for(var i=0, l=data.persons.length; i<l; i++){
						var li = dom.createElement("li");
						li.id = data.persons[i].bindId;
						li.innerHTML =  '<div class="li-t">'+
						data.persons[i].realName + ' / ' + data.persons[i].idCardNo +'<span class="check iconfont icon-duigouzhuanhuan"></span>'+
						'</div>';
						fragment.appendChild(li);
					}
					dom.querySelector(".identity-list").insertBefore(fragment,dom.querySelector(".identity-list .use-other"));
				}else{//次数小于3次并且没有实名信息
					controlElement(dom.querySelectorAll(".select-identity"));
					controlElement(dom.querySelectorAll(".title-back"));
				}
			}
			selectIdentity();
		}
		function controlElement(element){
			if(element){
				for(var i=0, l=element.length; i<l; i++){
					element[i].parentNode.removeChild(element[i]);
				}
			}
		}
		function selectIdentity(){//初始化默认选中以及点击切换选中方法
			var list = dom.querySelector(".identity-list");
			if(list){
				var childs = list.querySelectorAll("li");
				t(childs , "0");
				for(var i=0, l=childs.length; i<l; i++){
					childs[i].addEventListener("click" , function(){
						t.call(this,childs);
					} , false)
				}
			}
			function t(eleArr , num){
				if(num){
					eleArr[parseInt(num)].classList.add("active");
					eleArr[parseInt(num)].querySelector(".check").classList.remove("icon-duigouzhuanhuan");
					eleArr[parseInt(num)].querySelector(".check").classList.add("icon-gou");
				}else{
					for(var i=0, l=eleArr.length; i<l; i++){
						eleArr[i].classList.remove("active");
						eleArr[i].querySelector(".check").classList.remove("icon-gou");
						eleArr[i].querySelector(".check").classList.add("icon-duigouzhuanhuan");
					}
					this.classList.add("active");
					this.querySelector(".check").classList.remove("icon-duigouzhuanhuan");
					this.querySelector(".check").classList.add("icon-gou");
				}
			}
		}
		
	}();
</script>
<script type="text/javascript" src="${ctx.contextPath}/npc/js/identity.js"></script>

#if(!$notShowYeepayCompanyInfo)
    #parse('footer.vm')
#end
</body>
</html>