#parse('header.vm')
<body>
##parse('back.vm')
<!--新加的 zym start-->
<div class="icon process tc mt30">&#xe708;</div>
<!--<span class="iconfont process">&#xe604;</span>-->
<p class="mt20 c333 fs18 bold tc">支付处理中</p>
<p class="mt10 c999 fs14 tc">若您已完成支付，请点击查询支付结果</p>
<div class="pl12 pr12 mt30 tc">
    <button class="w fs18" type="button">查询支付结果</button>
</div>
<div class="pl12 pr12 tc mt20">
    <a class="fs18 w rePay"  href="#">重新支付</a>
</div>
 <!--//////-->
<div id="qCodeBox" class="mt30 tc">
    <img id="qCode" src="" alt="" width="82" height="82">
    <i class="code-text">识别左方二维码,可查询订单信息</i>
</div>
<div class="mt30 none" id="orderIdBox">
    #if($!{orderId})
        <p style="font-size:14px;text-align: center;" >商户订单号为：$!{orderId}</p>
        <p style="font-size:12px;text-align: center;" >(请妥善保管)</p>
    #end
</div>
 <footer class="pme-footer" id="mod-footer" style="margin-bottom: 10px;">
      <p>本服务由易宝支付（yeepay.com）提供</p>
      <p>易宝支付客服电话：<span style="color:#6ec37a; text-decoration:none;">4001-500-800</span></p>
 </footer>
<script src="${ctx.contextPath}/static/js/mobile-pay-dc14a8d575-201511091054.min.js"></script>
#if ($promptmsg)
<script>
    To.Popup.alert("$promptmsg");
</script>
#end
<script>
    (function(){
        jQuery.ajax({
            method: "POST",
            url: "${ctx.contextPath}/newwap/yeepay/qrcode?token=${token}&orderId=$!{orderId}&merchantNo=$!{merchantNo}",
            async:true,
            success: function (data) {
                if(data == ''){
                    document.querySelector("#qCodeBox").classList.add("none");
                    document.querySelector("#orderIdBox").classList.remove("none");
                }else{
                    document.querySelector("#qCode").setAttribute("src",data)
                }
            }
        })
    })();
</script>
</body>
</html>