<div class="card-bin-wrapper">
    <div class="card-bin">
        <div class="bank"><span class="bank-logo $!{bankCode}"></span>$!{bankName}</div>
        <div class="bank-info">
            **********$!{cardlater}
            <span class="card-type">
                 #if ($!{cardType} == "CREDIT")
                     信用卡
                 #else
                     储蓄卡
                 #end
            </span>
        </div>
    </div>
</div>
#if($!{errorcode})
<div class="global-error" style="width: auto; display: inline-block !important;">$!{errormsg}<span onclick="User.payModeBank(event)" class="other-bank" bankcode="$!{bankCode}">$!{bankName}网银支付</span><span
        class="change-card" onclick="User.cardPayments()">换卡支付&gt;</span></div>
#end
#if($validateStatus == "success")
#if(${merchantSamePersonConf})
<p class="prompt">请使用<span class="emp">本人信息</span>进行支付，支付成功后不可更改</p>
#end
#if($!{needname})
<div class="sington"><label><span class="title">姓名</span><input type="text" autocomplete="off"
                                                                placeholder="请输入您的真实姓名"
                                                                     name="name"
                                                                     value="$!{owner}"
                                                                     maxlength="16" encrypt="true" #if(${owner})readonly#end></label>
</div>
#end
#if($!{needidno})
<div class="sington"><label><span class="title">身份证号</span><input type="text" autocomplete="off"
                                                                       placeholder="请输入您的身份证号"
                                                                       name="idno"
                                                                       value="$!{idno}"
                                                                       maxlength="18" encrypt="true" #if(${idno})readonly#end></label>
</div>
#end
#if($!{needvalid})
<div class="sington"><label><span class="title">有效期</span><input type="text" autocomplete="off"
                                                                      placeholder="如：09/15 请输入0915"
                                                                      name="valid"
                                                                      maxlength="4" encrypt="true"><div class="sample valid"><img src="${ctx.contextPath}/newpc/assets/images/5nor_03.png"></div></label>

</div>
#end
#if($!{needcvv})
<div class="sington"><label><span class="title">C V V</span><input type="password" autocomplete="off"
                                                                        placeholder="信用卡背面后三位数字"
                                                                        name="cvv2"
                                                                        maxlength="3" encrypt="true"><div class="sample cvv"><img src="${ctx.contextPath}/newpc/assets/images/5nor_06.png"></div></label>

</div>
#end
#if($!{needpass})
<div class="sington"><label><span class="title">取款密码</span><input type="password" autocomplete="off"
                                                                       placeholder="请输入取款密码"
                                                                       name="pass"
                                                                       maxlength="6" encrypt="true"></label>
</div>
#end
#if($!{needmobile})
<div class="sington"><label><span class="title">手机号</span><input type="text" autocomplete="off"
                                                                      placeholder="请输入银行预留手机号"
                                                                      name="phone"
                                                                      value="$!{phoneNo}"
                                                                      maxlength="11" encrypt="true"
                                                                      #if(${phoneNo})readonly#end></label>
</div>
#end
#* #if($!{needmobile})
<div class="sington"><label><span class="title">易宝手机号</span><input type="text" autocomplete="off"
                                                                        placeholder="请输入易宝预留手机号"
                                                                        name="ypMobile"
                                                                        maxlength="11" encrypt="true"></label>
</div>
#end *#
<input type="hidden" id="bankCode" name="bankCode" readonly value="$!{bankCode}">
<input type="hidden" name="bankName" readonly value="$!{bankName}">
<input type="hidden" name="cardType" readonly value="$!{cardType}">
<div><label><input type="checkbox" name="agreement" id="agreement" checked><span
        class="checkbox icon"></span>#if($autoBindTip)${autoBindTip}#end同意</label><a href="javascript:void(0)" onclick="Util.popup('',User.template.agreement)">《服务协议》</a><span class="china-bank-agree none">和<a
        href="javascript:void(0)" onclick="Util.popup('',User.template.chinaBankAgreement)">《中国银行快捷支付服务协议》</a></span>
</div>
<script>
    (function () {
        dom.querySelector("#agreement").addEventListener("click", function () {
            this.checked ? User.form.enabledSubmit("#firstPayBtn") : User.form.disabledSubmit("#firstPayBtn");
        }, false);
        if(dom.querySelector("#bankCode").value == "BOC"){
            dom.querySelector(".china-bank-agree").classList.remove("none");
        }
    }());
</script>
#end
<button type="button" id="firstPayBtn" #if(${validateStatus} == 'failed') disabled #end onclick="Action.firstPay()">下一步</button>

#*
<div class="limit-tip">招商银行信用卡默认单笔限额为 200元/笔；单日限额为 500元/日； 单月限额为 1000元/月；<br>
    实际限额以您在银行的设置为准。
</div>*#
