#parse("newpc/components/head.vm")
<body>
#parse("newpc/components/top.vm")
<div class="main layout clearfix">
    #parse("newpc/components/order-info.vm")
    <p class="paying"><i class="icon">&#xe625;</i>支付仍在后台处理中，请耐心等待</p>
    <a href="javascript:Action.ebankResult()" class="button again-query">再次查询支付结果</a>
    <!--公众号二维码-->
    <div class="official-accounts none"><a href="#" target="_blank" id="magnify"><img id="qrcode" width="90"></a><span>识别左方二维码，<br>可查询订单信息</span></div>
    <!--公众号二维码结束-->
</div>
#parse("newpc/components/footer.vm")
<script>
    dom.querySelector("#qrcode").addEventListener("error",function(){
        dom.querySelector(".official-accounts").classList.add("none");
    },false);
    #if("$!{token}")
    Action.ajax({
        url:"${ctx.contextPath}/newwap/yeepay/qrcode",
        data:{
            token:"${token}",
            orderId:"$!{orderId}",
            merchantNo:"$!{merchantNo}"
        },
        success:function(path){
            dom.querySelector("#qrcode").src = path;
            dom.querySelector("#magnify").href = path;
            dom.querySelector(".official-accounts").classList.remove("none");
        }
    });
    #end
</script>
</body>
</html>