<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>一键支付</title>
<link rel="stylesheet" href="${ctx.contextPath}/npc/css/mobile-pay-161c5cdb80.min.css">
<link type="text/css" href="${ctx.contextPath}/npc/css/base.css" rel="stylesheet" />
<link type="text/css" href="${ctx.contextPath}/npc/css/keyPay.css" rel="stylesheet" />
<link type="text/css" href="${ctx.contextPath}/npc/css/form.css" rel="stylesheet" />
<script type="text/javascript" src="${ctx.contextPath}/npc/js/yeepay-1.0-min.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/npc/js/jquery.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/npc/js/getuserinfo.js"></script>
<script type="text/javascript" src="${ctx.contextPath}/npc/js/popup.js"></script>
</head>

<body>
<!--头部-->
<div class="header">
  <div class="layout clearfix zoom">
    <h1 class="fl mt15 logo"><a href="http://www.yeepay.com/" target="_blank" class="fl">易宝支付</a><span class="fl viceLogo">一键支付</span></h1>
   <!-- <p class="fr servicePhone">7x24小时客服电话：4001-500-800</p>--> 
  </div>
</div>
<!--头部结束--> 
<!--主要内容-->
<div class="layout mainWrap clearfix zoom">
  <div class="fl orderInfo">
    <h2>我的订单</h2>
    <dl class="infoList firstInfoList mt15 clearfix zoom">
      <dt>金　额：</dt>
      <dd><span class="sum fa">${amount}</span>元</dd>
      <dt>商　品：</dt>
      <dd>${productname}</dd>
      <dt>商　户：</dt>
      <dd>${companyname}</dd>
    </dl>
    <dl class="infoList mt15 clearfix zoom">
      <dt>订单号：</dt>
      <dd><span class="fa">${orderid}</span></dd>
      <dt>日　期：</dt>
      <dd><span class="fa">${transtime}</span></dd>
    </dl>
  </div>
  <div class="fl rightContainer">
    <div class="result failRes pl50"><span class="fb">支付失败，${errormsg}！</span>
    </div>
    #if(${repayurl})
    <p class="againPayBtn"><a href="${repayurl}" class="greenBtn"><i class="leftBorder"></i>重新支付</a></p>
    #end
  </div>
</div>
<!--主要内容结束--> 
<!--版权-->
<div class="layout copyright">本支付由易宝支付提供，易宝支付版权所有 &copy; 2003-2014  京ICP备08100193号</div>
<!--版权结束--> 
<!--底部-->
<div class="footer">
  <div class="layout"> <a href="http://www.yeepay.com/article?type=wireless&aid=991" target="_blank"><img src="${ctx.contextPath}/npc/images/f_03.gif" /></a> <a href="http://www.yeepay.com/article?type=wireless&aid=990" target="_blank"><img src="${ctx.contextPath}/npc/images/f_05.gif" /></a> <a href="http://www.yeepay.com/article?type=wireless&aid=992" target="_blank"><img src="${ctx.contextPath}/npc/images/f_11.gif" /></a> <a href="http://www.visa.com.cn/index.shtml" target="_blank"><img src="${ctx.contextPath}/npc/images/f_07.gif" /></a> <a href="https://sealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=*.yeepay.com&lang=en" target="_blank"><img src="${ctx.contextPath}/npc/images/f_10.gif" /></a> </div>
</div>
<!--底部结束-->
</body>
</html>
