<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>onlinedirectpay-hessian</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/frontend-core-spring/frontend-appContext.xml
        </param-value>
    </context-param>
    <listener>
        <!-- <listener-class>com.yeepay.g3.utils.soa.context.ContextLoaderListener</listener-class> -->
        <listener-class>com.yeepay.g3.athena.collection.listener.AthenaListener</listener-class>
    </listener>
    <!-- start:added by zhijun.wang 2017-05-18 -->
    <listener>
		 <listener-class>com.yeepay.infra.MetricsServletsWiringContextListener</listener-class>
	</listener>
	<servlet>
		 <servlet-name>metrics</servlet-name>
		 <servlet-class>com.yeepay.infra.servlets.MetricsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		 <servlet-name>metrics</servlet-name>
		 <url-pattern>/metrics/*</url-pattern>
	</servlet-mapping>
    <!-- end:added by zhijun.wang 2017-05-18 -->
    <servlet>
        <servlet-name>hessian</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>hessian</servlet-name>
        <url-pattern>/hessian/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hessian</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>soa</servlet-name>
        <servlet-class>com.yeepay.g3.utils.soa.remoting.http.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>soa</servlet-name>
        <url-pattern>/soa/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
