<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeepay.g3.core.payprocessor.dao.PayRecordDao">
	<resultMap id="PayRecordMap" type="PayRecord">
		<result column="REQUEST_ID" property="requestId" jdbcType="BIGINT" />
		<result column="RECORD_NO" property="recordNo" jdbcType="VARCHAR" />
		<result column="BANK_ORDER_NO" property="bankOrderNo" jdbcType="VARCHAR" />
		<result column="BANK_SEQ" property="bankSeq" jdbcType="VARCHAR" />
		<result column="BANK_TRX_ID" property="bankTrxId" jdbcType="VARCHAR" />
		<result column="PAYMENT_NO" property="paymentNo" jdbcType="VARCHAR" />
		<result column="PLATFORM_TYPE" property="platformType"  jdbcType="VARCHAR" />
		<result column="PAY_ORDER_TYPE" property="payOrderType" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
		<result column="COST" property="cost" jdbcType="DECIMAL" />
		<result column="USER_FEE" property="userFee" jdbcType="DECIMAL" />
		<result column="SMS_STATE" property="smsState" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
		<result column="BANK_ID" property="bankId" jdbcType="VARCHAR" />
		<result column="BIND_CARD_ID" property="bindCardInfoId" jdbcType="VARCHAR" />
		<result column="FRP_CODE" property="frpCode" jdbcType="VARCHAR" />
		<result column="CARD_TYPE" property="cardType" jdbcType="VARCHAR" />
		<result column="CARD_ID" property="cardId" jdbcType="VARCHAR" />
		<result column="CASHIER_VERSION" property="cashierVersion" jdbcType="VARCHAR" />
		<result column="PAY_PRODUCT" property="payProduct" jdbcType="VARCHAR" />
		<result column="PAY_SCENE" property="payScene" jdbcType="VARCHAR" />
		<result column="PAYER_IP" property="payerIp" jdbcType="VARCHAR" />
		<result column="ERROR_CODE" property="errorCode" jdbcType="VARCHAR" />
		<result column="ERROR_MSG" property="errorMsg" jdbcType="VARCHAR" />
		<result column="REQUEST_SYSTEM" property="requestSystem" jdbcType="VARCHAR" />
        <result column="REQUEST_SYS_ID" property="requestSysId" jdbcType="VARCHAR" />
        <result column="BANK_ACCOUNT_TYPE" property="bankAccountType" jdbcType="VARCHAR" />
        <result column="LOAN_COMPANY" property="loanCompany" jdbcType="VARCHAR" />
        <result column="LOAN_TERM" property="loanTerm" jdbcType="VARCHAR" />
        <result column="EXTENDED_INFO" property="extendedInfo" jdbcType="VARCHAR" javaType="com.yeepay.g3.core.payprocessor.entity.ExtendedInfo"/>
        <result column="DEBIT_CUSTOMER_NO" property="debitCustomerNo" jdbcType="VARCHAR" />
        <result column="DEBIT_ACCOUNT_NO" property="debitAccountNo" jdbcType="VARCHAR" />
        <result column="DEBIT_USER_NAME" property="debitUserName" jdbcType="VARCHAR" />
		<result column="RETAIL_PRODUCT_CODE" property="retailProductCode" jdbcType="VARCHAR" />
		<result column="BASIC_PRODUCT_CODE" property="basicProductCode" jdbcType="VARCHAR" />
		<result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
		<result column="CFL_COUNT" property="cflCount"></result>
		<result column="CFL_RATE" property="cflRate"></result>
		<result column="MERCHANT_FEE_SUBSIDY" property="merchantFeeSubsidy"></result>
		<result column="MERCHANT_AMOUNT_SUBSIDY" property="merchantAmountSubsidy"></result>
		<result column="FIRST_PAY_AMOUNT" property="firstPayAmount"></result>
		<result column="COMBINED_PAY" property="combinedPay" jdbcType="VARCHAR"></result>
<!--		<result column="CASH_FEE" property="cashFee" jdbcType="VARCHAR"></result>
		<result column="SETTLEMENT_FEE" property="settlementFee" jdbcType="VARCHAR"></result>-->
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="PayRecordMap"
		parameterType="java.lang.String">
		select
		*
		from PP.TBL_PAYMENT_PAY_RECORD
		where RECORD_NO =
		#{recordNo,jdbcType=VARCHAR}
	</select>


	<insert id="insert" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		insert into
		PP.TBL_PAYMENT_PAY_RECORD (RECORD_NO,
		REQUEST_ID, BANK_ORDER_NO,
		BANK_SEQ, BANK_TRX_ID, PAYMENT_NO,
		PLATFORM_TYPE, PAY_ORDER_TYPE,
		STATUS, AMOUNT,
		COST, USER_FEE, SMS_STATE,CREATE_TIME,
		UPDATE_TIME,
		PAY_TIME, BANK_ID, BIND_CARD_ID,FRP_CODE,CARD_TYPE,
		CARD_ID,CASHIER_VERSION,PAY_PRODUCT,PAY_SCENE,PAYER_IP,
		ERROR_CODE,ERROR_MSG,REQUEST_SYSTEM,REQUEST_SYS_ID,BANK_ACCOUNT_TYPE,LOAN_COMPANY,LOAN_TERM,EXTENDED_INFO,
		DEBIT_CUSTOMER_NO,DEBIT_ACCOUNT_NO,DEBIT_USER_NAME,
		RETAIL_PRODUCT_CODE,BASIC_PRODUCT_CODE,OPEN_ID,
		CFL_COUNT,CFL_RATE,MERCHANT_FEE_SUBSIDY,MERCHANT_AMOUNT_SUBSIDY,FIRST_PAY_AMOUNT,COMBINED_PAY
		)
		values
		(#{recordNo,jdbcType=VARCHAR}, #{requestId,jdbcType=BIGINT},
		#{bankOrderNo,jdbcType=VARCHAR},
		#{bankSeq,jdbcType=VARCHAR},
		#{bankTrxId,jdbcType=VARCHAR}, #{paymentNo,jdbcType=VARCHAR},
		#{platformType,jdbcType=VARCHAR}, #{payOrderType,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL},
		#{cost,jdbcType=DECIMAL}, #{userFee,jdbcType=DECIMAL},
		#{smsState,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
		#{payTime,jdbcType=TIMESTAMP}, #{bankId,jdbcType=VARCHAR},
		#{bindCardInfoId,jdbcType=VARCHAR},
		#{frpCode,jdbcType=VARCHAR},
		#{cardType,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR},
		#{cashierVersion,jdbcType=VARCHAR}, #{payProduct,jdbcType=VARCHAR},
		#{payScene,jdbcType=VARCHAR},
		#{payerIp,jdbcType=VARCHAR},
		#{errorCode,jdbcType=VARCHAR},
		#{errorMsg,jdbcType=VARCHAR},
		#{requestSystem,jdbcType=VARCHAR},
		#{requestSysId,jdbcType=VARCHAR},
		#{bankAccountType,jdbcType=VARCHAR},
		#{loanCompany,jdbcType=VARCHAR}, #{loanTerm,jdbcType=VARCHAR},
		#{extendedInfo,jdbcType=VARCHAR,javaType=com.yeepay.g3.core.payprocessor.entity.ExtendedInfo},
		#{debitCustomerNo,jdbcType=VARCHAR},
		#{debitAccountNo,jdbcType=VARCHAR},
		#{debitUserName,jdbcType=VARCHAR},
		#{retailProductCode,jdbcType=VARCHAR},
		#{basicProductCode,jdbcType=VARCHAR},
		#{openId,jdbcType=VARCHAR},
		#{cflCount,jdbcType=INTEGER},
		#{cflRate,jdbcType=DECIMAL},
		#{merchantFeeSubsidy,jdbcType=DECIMAL},
		#{merchantAmountSubsidy,jdbcType=DECIMAL},
		#{firstPayAmount,jdbcType=DECIMAL},
		#{combinedPay,jdbcType=VARCHAR}
		)
	</insert>

	<update id="updatePaymentNo">
		update PP.TBL_PAYMENT_PAY_RECORD
		set
		PAYMENT_NO =
		#{paymentNo,jdbcType=VARCHAR},
		UPDATE_TIME =
		#{updateTime,jdbcType=TIMESTAMP}
		where RECORD_NO =
		#{recordNo,jdbcType=VARCHAR}
		AND STATUS=
		#{originalStatus,jdbcType=VARCHAR}
	</update>

	<update id="updateRecordToReverse" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		update
		PP.TBL_PAYMENT_PAY_RECORD
		set
		STATUS = 'REVERSE',
		UPDATE_TIME =
		CURRENT_TIMESTAMP
		where RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		and
		STATUS = #{status,jdbcType=VARCHAR}
	</update>
	<update id="updateRecordToSuccess" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		update PP.TBL_PAYMENT_PAY_RECORD
		<set>
			<if test="bankOrderNo != null">
				BANK_ORDER_NO = #{bankOrderNo,jdbcType=VARCHAR},
			</if>
			<if test="bankSeq != null">
				BANK_SEQ = #{bankSeq,jdbcType=VARCHAR},
			</if>
			<if test="bankTrxId != null">
				BANK_TRX_ID = #{bankTrxId,jdbcType=VARCHAR},
			</if>
			<if test="cost != null">
				COST = #{cost,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payTime != null">
				PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bankId != null">
				BANK_ID = #{bankId,jdbcType=VARCHAR},
			</if>
			<if test="bindCardInfoId != null">
				BIND_CARD_ID = #{bindCardInfoId,jdbcType=VARCHAR},
			</if>
			<if test="frpCode != null">
				FRP_CODE = #{frpCode,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				CARD_TYPE = #{cardType,jdbcType=VARCHAR},
			</if>
			<if test="cardId != null">
				CARD_ID = #{cardId,jdbcType=VARCHAR},
			</if>
			<if test="errorCode != null">
				ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="errorMsg != null">
				ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
			</if>
			<if test="loanCompany != null">
				LOAN_COMPANY = #{loanCompany,jdbcType=VARCHAR},
			</if>
			<if test="loanTerm != null">
				LOAN_TERM = #{loanTerm,jdbcType=VARCHAR},
			</if>
			<if test="extendedInfo != null">
				EXTENDED_INFO = #{extendedInfo,jdbcType=VARCHAR,javaType=com.yeepay.g3.core.payprocessor.entity.ExtendedInfo},
			</if>
			<if test="basicProductCode != null">
				BASIC_PRODUCT_CODE = #{basicProductCode,jdbcType=VARCHAR},
			</if>
			STATUS = 'SUCCESS'
		</set>
		where RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		and STATUS ='DOING'
		WITH rr
	</update>

	<update id="updatePaymentStatus">
		update PP.TBL_PAYMENT_PAY_RECORD
		set
		STATUS =
		#{newStatus,jdbcType=VARCHAR},
		UPDATE_TIME =
		#{updateTime,jdbcType=TIMESTAMP}
		where RECORD_NO =
		#{recordNo,jdbcType=VARCHAR}
		<if test="originalStatus != null and originalStatus.size>0">
			AND STATUS in
			<foreach collection="originalStatus" index="index" item="item"
				open="(" separator="," close=")">
				#{item,jdbcType=VARCHAR}
			</foreach>
		</if>
	</update>

	<update id="updateNcPaymentSmsState">
		update
		PP.TBL_PAYMENT_PAY_RECORD
		set
		SMS_STATE =#{smsState,jdbcType=VARCHAR}
		where RECORD_NO =#{recordNo,jdbcType=VARCHAR}
	</update>

	<update id="updatePaymentToFail">
		update
		PP.TBL_PAYMENT_PAY_RECORD
		set
		ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
		ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
		STATUS = 'FAILUER'
		where RECORD_NO =#{recordNo,jdbcType=VARCHAR}
		and STATUS ='DOING'
	</update>

	
	<update id="updatePaymentBankInfo">
		update PP.TBL_PAYMENT_PAY_RECORD
		set 
		BANK_ORDER_NO =#{payRecord.bankOrderNo,jdbcType=VARCHAR},
		BANK_SEQ =#{payRecord.bankSeq,jdbcType=VARCHAR},
		BANK_TRX_ID =#{payRecord.bankTrxId,jdbcType=VARCHAR},
		PLATFORM_TYPE =#{payRecord.platformType,jdbcType=VARCHAR},
		STATUS =#{payRecord.status,jdbcType=VARCHAR},
		COST =#{payRecord.cost,jdbcType=DECIMAL},
		USER_FEE =#{payRecord.userFee,jdbcType=DECIMAL},
		CREATE_TIME =#{payRecord.createTime,jdbcType=TIMESTAMP},
		PAY_TIME =#{payRecord.payTime,jdbcType=TIMESTAMP},
		BANK_ID =#{payRecord.bankId,jdbcType=VARCHAR},
		FRP_CODE =#{payRecord.frpCode,jdbcType=VARCHAR},
		CARD_ID =#{payRecord.cardId,jdbcType=VARCHAR},
		ERROR_CODE =#{payRecord.errorCode,jdbcType=VARCHAR},
		ERROR_MSG = #{payRecord.errorMsg,jdbcType=VARCHAR},
		UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
		LOAN_COMPANY = #{loanCompany,jdbcType=VARCHAR},
		LOAN_TERM =#{loanTerm,jdbcType=VARCHAR}
		where RECORD_NO =
		#{payRecord.recordNo,jdbcType=VARCHAR}
	</update>

    <select id="queryDoingRecord" parameterType="java.util.Map" resultMap="PayRecordMap">
        SELECT *
        FROM PP.TBL_PAYMENT_PAY_RECORD
        WHERE
        STATUS ='DOING'
        <![CDATA[ AND UPDATE_TIME >= #{startDate, jdbcType=TIMESTAMP}  ]]>
        <![CDATA[ AND UPDATE_TIME <= #{endDate, jdbcType=TIMESTAMP}  ]]>
        fetch first ${maxRowCount} rows only
    </select>

	<select id="queryPayTimes" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT count(RECORD_NO)
		FROM PP.TBL_PAYMENT_PAY_RECORD
		WHERE REQUEST_ID = #{requstId, jdbcType=BIGINT}
		WITH UR
	</select>
	<select id="queryStatus"  resultType="java.lang.String">
		SELECT STATUS
		FROM PP.TBL_PAYMENT_PAY_RECORD
		where RECORD_NO =#{recordNo,jdbcType=VARCHAR}
	</select>
	
	<update id="updateBindId">
		update PP.TBL_PAYMENT_PAY_RECORD
		set 
		BIND_CARD_ID =#{bindId}
		where RECORD_NO =#{recordNo,jdbcType=VARCHAR}
	</update>
	
	<select id="queryNcPaymentNo" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT PAYMENT_NO FROM PP.TBL_PAYMENT_PAY_RECORD
		where RECORD_NO =#{recordNo,jdbcType=VARCHAR}
	</select>
	<update id="updateRecordErrorInfo">
		UPDATE
		PP.TBL_PAYMENT_PAY_RECORD
		SET
		ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
		ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
		UPDATE_TIME =#{updateTime,jdbcType=TIMESTAMP}
		WHERE RECORD_NO =#{recordNo,jdbcType=VARCHAR}
	</update>

	<update id="updateRecordForPreAuth" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		update PP.TBL_PAYMENT_PAY_RECORD
		<set>
			<if test="bankOrderNo != null">
				BANK_ORDER_NO = #{bankOrderNo,jdbcType=VARCHAR},
			</if>
			<if test="bankSeq != null">
				BANK_SEQ = #{bankSeq,jdbcType=VARCHAR},
			</if>
			<if test="bankTrxId != null">
				BANK_TRX_ID = #{bankTrxId,jdbcType=VARCHAR},
			</if>
			<if test="cost != null">
				COST = #{cost,jdbcType=DECIMAL},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="payTime != null">
				PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bankId != null">
				BANK_ID = #{bankId,jdbcType=VARCHAR},
			</if>
			<if test="bindCardInfoId != null">
				BIND_CARD_ID = #{bindCardInfoId,jdbcType=VARCHAR},
			</if>
			<if test="frpCode != null">
				FRP_CODE = #{frpCode,jdbcType=VARCHAR},
			</if>
			<if test="cardType != null">
				CARD_TYPE = #{cardType,jdbcType=VARCHAR},
			</if>
			<if test="cardId != null">
				CARD_ID = #{cardId,jdbcType=VARCHAR},
			</if>
			<if test="errorCode != null">
				ERROR_CODE = #{errorCode,jdbcType=VARCHAR},
			</if>
			<if test="errorMsg != null">
				ERROR_MSG = #{errorMsg,jdbcType=VARCHAR},
			</if>
			<if test="loanCompany != null">
				LOAN_COMPANY = #{loanCompany,jdbcType=VARCHAR},
			</if>
			<if test="loanTerm != null">
				LOAN_TERM = #{loanTerm,jdbcType=VARCHAR},
			</if>
			<if test="extendedInfo != null">
				EXTENDED_INFO = #{extendedInfo,jdbcType=VARCHAR,javaType=com.yeepay.g3.core.payprocessor.entity.ExtendedInfo},
			</if>
			<if test="basicProductCode != null">
				BASIC_PRODUCT_CODE = #{basicProductCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="paymentNo != null">
				PAYMENT_NO = #{paymentNo, jdbcType=VARCHAR}
			</if>
		</set>
		where RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		and STATUS ='DOING'

	</update>

	<update id="updateRecordToReverseForPreAuth" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		update
		PP.TBL_PAYMENT_PAY_RECORD
		set
		STATUS = #{status,jdbcType=VARCHAR},
		UPDATE_TIME =
		CURRENT_TIMESTAMP
		where RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		and
		STATUS = 'SUCCESS'
	</update>

	<update id="updateRecordFromFailToSuccess" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		update
		PP.TBL_PAYMENT_PAY_RECORD
		set
		STATUS = #{status,jdbcType=VARCHAR},
		UPDATE_TIME =
		CURRENT_TIMESTAMP
		where RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		and
		STATUS = 'FAILUER'
	</update>
	<update id="updateFirstAmount" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		update
		PP.TBL_PAYMENT_PAY_RECORD
		set
		FIRST_PAY_AMOUNT = #{firstPayAmount,jdbcType=DECIMAL}
		where RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		and
		STATUS = 'DOING'
	</update>

	<update id="updateFailWithComb" parameterType="com.yeepay.g3.core.payprocessor.entity.PayRecord">
		UPDATE
		PP.TBL_PAYMENT_PAY_RECORD
		SET
		STATUS = 'FAILUER'
		WHERE
		RECORD_NO = #{recordNo,jdbcType=VARCHAR}
		AND
		STATUS = 'DOING'
	</update>
	<select id="queryCompleteCancelCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
		SELECT count(RECORD_NO)
		FROM PP.TBL_PAYMENT_PAY_RECORD
		WHERE REQUEST_ID = #{requestId, jdbcType=BIGINT}
		AND PAY_ORDER_TYPE = 'PREAUTH_CC'
		AND STATUS = 'SUCCESS'
	</select>
</mapper>